################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Levegominoseg/bin/Debug/netcoreapp3.1
/Levegominoseg/obj
